@inject SignInManager<FinanceTrackerApplicationUser> SignInManager

@using FinanceTrackerApplication.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - FinanceTrackerApplication</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/custom.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/FinanceTrackerApplication.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow">
                <div class="container-fluid justify-content-between mx-5">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-between">
                        <ul class="navbar-nav">
                            <a class="navbar-brand fw-bold fs-2 font-monospace" asp-area="" asp-controller="Home" asp-action="Index">
                                <img style="height: 50px" src="/Images/Home/KoinLogo.png" />
                                Koin                            
                            </a>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Currencies">Currencies</a>
                            </li>
                            @if(SignInManager.UserManager.GetUserAsync(User).Result != null)
                            {                           
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Transactions" asp-action="Index">Transactions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Settings">Settings</a>
                                </li>
                            }
                        </ul>
                        <br />
                        <partial class="" name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer class="footer text-muted">
            <div class="container-fluid text-white bg-primary">
                &copy; 2024 - FinanceTrackerApplication - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
