@model IEnumerable<FinanceTrackerApplication.Models.Transaction>

@{
    ViewData["Title"] = "Transaction History";

    Model.OrderBy( t => t.IsInternalTransfer).ToList();
}

<h1>All Transactions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p

@* TODO: Pagination for each section*@

<h1>Transfers Between Accounts (Internal Transfers)</h1>
@foreach (var item in Model.Where(t => t.IsInternalTransfer == true))
{
    <div class="card">
        <div class="card-body">
            <h4>@item.Description</h4>
            <p>@item.Amount</p>
            <p>Date: @item.CreatedAt</p>
        </div>
    </div>
}

<h1>Transfers in/out (External Transfers)</h1>
@foreach (var item in Model.Where(t => t.IsInternalTransfer == false))
{
    <div class="card">

    </div>
}